/**
 * fonts
 */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');

$font: 'Montserrat', sans-serif;
$icon: 'boxicons';
/**
 * Colors
 */
$bg-tomato: #fe0000;
$bg-orange: #ff6600;
$bg-darkTomato: #b90f0f;
$bg-purple: #423c9b;
$bg-black: #000000;
$bg-dark: #262626;
$bg-text: #333333;
$bg-note: #666666;
$bg-default: #ffffff;
$bg-smoke: #f9f9f9;
$bg-stroberry: #fc3c58;
/**
* Breakpoints
*/
$xs: 575px;
$sm: 767px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
/**
 * Mixins
 */
@mixin weight($weight) {
  @for $i from 1 through 9 {
    @if $i == $weight {
      font-weight: $i * 100;
    }
  }
  //other condition
  @if $weight == "bold" {
    font-weight: bold;
  } @else if $weight == "normal" {
    font-weight: normal;
  }
}

@mixin transition($time, $type, $properties: all) {
  transition: #{$time} #{$properties}  #{$type};
}

@mixin flex {
  display: flex;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin center {
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin fluid {
  width: 100%;
  position: relative;
  @include clearfix;
}

@mixin pseudo {
  content: "";
  position: absolute;
}
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin phone {
  @media (max-width: $xs) {
    @content;
  }
}

@mixin phablet {
  @media (max-width: $sm) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $md) and (max-width: $lg - 1px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin laptop_hd {
  @media (min-width: $xl) {
    @content;
  }
}
