@import '_config';
body {
  font-family: $font;
  background-color: $bg-black;
}
a {
  cursor: pointer;
  &:hover,
  &:active,
  &:focus {
    outline: none;
    text-decoration: none;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
}
/**
 *  Utilities
 */
%block {
  display: block;
  position: relative;
}
.btn-more {
  box-shadow: 0;
  border-color: transparent;
  padding: 1.2rem 0;
  border-radius: 0;
  position: relative;
  &:focus,
  &:active {
    box-shadow: none;
  }
  > i {
    position: absolute;
    right: 60px;
    top: calc(50% - 5px);
    font-size: 1.1rem;
    transition: all ease-in-out .25s;
  }
  &:hover {
    > i {
      right: 0;
    }
  }
  &-stroberry {
    border-bottom-color: $bg-stroberry;
    color: $bg-default;
    > i {
      color: $bg-stroberry;
    }
    &:hover {
      color: $bg-default;
    }
  }
}
/**
 * Parents
 */
.top-header,
.top-bar,
.menu-primary,
.slider-primary,
.property,
.inspiration,
.partner,
.footer {
  @include fluid;
}
.top-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1050;  
  @include phablet {
    position: relative;
    padding-top: .6rem;
    padding-bottom: .6rem;
    .top-wrapper {
      display: none;
    }
  }
  @include tablet {
    position: relative;
    padding-top: 1rem;
  }
  .logo {
    width: 180px;
    img {
      max-width: 80px;
      height: auto;
    }
    @include tablet {
      @include center;
      margin-bottom: 1rem;
    }
    @media(max-width: 1080px) {
      width: 100px;
    }
  }
}
.top-bar {
  @include flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  &-item {
    flex: 0 0 auto;
    width: auto;
    position: relative;
    padding: {
      left: 10px;
      right: 10px;
    }
    @include phablet {
      flex: 0 0 100%;
      width: 100%;
      padding: 0;
      &.search-mobile-wrapper {
        display: none;
        padding: 1rem;
        .top-bar-search {
          width: 100%;
        }
      }
    }
  }
  /**
   * Dropdown Custom
   */
  .dropdown {
    &-item {
      font-size: .7rem;
    }
  }
  /**
   * Widget Top Bar
   */
  &-menu,
  &-search,
  &-eng {
    position: relative;
    @include phablet {
      display: block;
    }
  }
  &-menu {
    .nav-link {
      color: $bg-default !important;
      font-size: .7rem;
      @include weight(5);
      padding: .5rem .7rem;
      &:hover {
        color: $bg-stroberry !important;
      }
      @include phablet {
        padding: .6rem 0;
      }
    }
    .dropdown {
      &-toggle {
        &::after {
          margin-left: .6rem;
          @include phablet {
            float: right;
          }
        }
      }
      &-item {
        font-size: .7rem;
      }
    }
  }
  &-search {
    width: 150px;
    border-radius: 2332324rem;
    transition: all cubic-bezier(0.23, 1, 0.320, 1) .3s;
    .input-group {
      .form-control:not(:last-child) {
        border-color: rgba($bg-default, .1);
        border-right-color: transparent;
        border-top-left-radius: 2332324rem;
        border-bottom-left-radius: 2332324rem;
        background-color: rgba($bg-default, .1);
        color: $bg-default;
        box-shadow: none;
        @include placeholder {
          font-size: .74rem;
          color: rgba($bg-default, .3);
        }
      }
      .btn-search {
        color: $bg-default;
        background-color: rgba($bg-default, .1);
        border-color: transparent;
        box-shadow: none;
        border-top-right-radius: 2332324rem;
        border-bottom-right-radius: 2332324rem;
      }
    }
    &.focus {
      width: 200px;
      background-color: rgba($bg-default, .2);
    }
  }
  &-eng {
    display: inline-block;
    padding: .4rem .7rem;
    color: $bg-default;
    font-size: .7rem;
    border-radius: 232424rem;
    border: 1px solid $bg-default;
    position: relative;
    &::after {
      margin-left: .8rem;
    }
    &:hover {
      border-color: $bg-stroberry;
      color: $bg-stroberry;
    }
    @include phablet {
      float: right;
    }
  }
}
/**
 * Menu
 */
.menu {
  width: auto;
  @include phablet {
    width: 100%;
    padding-top: 1rem;
  }
  @include tablet {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  ul {
    padding: 0;
  }
  > ul {
    @extend %block;
    > li > a{
      text-transform: uppercase;
      letter-spacing: .03rem;
    }
  }
  /**
   * Item
   */
  &-item {
    text-align: left;
    display: inline-block;
    transition: all ease-in-out .25s;
    position: relative;
    &:last-child {
      border-bottom-left-radius: .25rem;
      border-bottom-right-radius: .25rem;
      a {
        &::before {
          display: none;
        }
      }
    }
    &:hover {
      a {
        color: $bg-tomato;
      }
    }
    &.active {
      background-color: rgba($bg-default, .3);
    }
    &.has-child {
      &::before {
        position: absolute;
        font-family: $icon;
        content: "\e9e2";
        color: $bg-stroberry;
        right: 13px;
        font-size: 1.1rem;
        top: calc(50% - 1px);
        line-height: 0;
        @include phablet {
          right: 15px;
        }
        @include tablet {
        }
      }
      > a {
        padding-right: 2rem;
      }
      &:last-child {
        &::before {
          right: 0;
        }
      }
    }
    /**
     * Position options 
     */
    &.push-left {
      ul {
        right: 0;
        left: auto;
        @include phablet {
          left: 0;
          right: auto;
        }
      }      
    }
    &.push-right {
      ul {
        left: 0;
        right: auto;
        @include phablet {
          left: 0;
          right: auto;
        }
      }
    }
    @include phablet {
      display: block;
      border-bottom: 1px solid rgba($bg-default, .2);
      &.has-child::before {
        right: 0;
      }
      &:last-child {
        border-radius: 0;
      }
    }
  }
  /**
   * Link 
   */
  &-link {
    display: block;
    padding: .5rem 1.2rem;
    color: $bg-default;
    font-size: .7rem;
    position: relative;
    @include weight(6);
    &:hover {
      text-decoration: none;
      color: $bg-default;
    }
    &::before {
      width: 1px;
      height: 40%;
      background-color: rgba($bg-default, .6);
      top: calc(50% - 20%);
      right: 0;
      @include pseudo;
    }
    @include phablet {
      padding: .8rem 0;
      &::before {
        display: none;
      }
    }
    @include tablet {
      font-size: .6rem;
      padding: .5rem 1rem;
    }
  }
  /**
   * Dropdown
   */
  ul ul {
    border-radius: .25rem;
    @include phablet {
      display: none;
      border-radius: 0;
    }
    a {
      &::before {
        display: none;
      }
    }
  }
  ul li > ul {
    position: absolute;
    z-index: 300;
    top: 100%;
    width: 200px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transform: translate(0, 10px);
    transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0 3px 5px rgba($bg-black, .04);
    background-color: $bg-dark;
    @include phablet {
      width: 100%;
      box-shadow: none;
      display: none;
      transition: none;
    }
    li {
      &:first-child {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        @include phablet {
          border-radius: 0;
        }
      }
      &:last-child {
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
        @include phablet {
          border-radius: 0;
        }
      }
      a {
        padding-top: 10px;
        padding-bottom: 10px;
        color: $bg-default !important;
        transition: all .25s ease-in linear 0s;
      }
      &:hover {
        background-color: rgba($bg-default, .1);
        a {
          color: $bg-default;
        }
      }
    }
  }
  ul li:hover > ul {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
  }
  @include phablet {
    ul li:not(:hover) > ul {
      display: none;
      opacity: 1;
      visibility: visible;
    }
  }
  ul ul li {
    display: block;
    border-bottom: 1px solid rgba($bg-default, .1);
    &.has-child {
      &::before {
        display: none;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
  /**
   * Lev 2
   */
  // ul ul li > ul {
  //   position: absolute;
  //   z-index: 300;
  //   top: 0;
  //   width: 230px;
  //   visibility: hidden;
  //   opacity: 0;
  //   transform: translate(10px, 0);
  //   transition: all ease-in-out .25s;
  //   box-shadow: 0 5px 10px rgba($bg-black, .04);
  //   @include phablet {
  //     width: 100%;
  //     box-shadow: none;
  //   }
  // }
  // ul ul li:hover > ul {
  //   visibility: visible;
  //   opacity: 1;
  //   transform: translate(0, 0);
  // }
  // /**
  //  * Lev 3
  //  */
  // ul ul ul li > ul {
  //   position: absolute;
  //   z-index: 300;
  //   top: 0;
  //   width: 230px;
  //   visibility: hidden;
  //   opacity: 0;
  //   background-color: $bg-dark;
  //   transform: translate(10px, 0);
  //   transition: all ease-in-out .25s;
  //   box-shadow: 0 5px 10px rgba($bg-black, .04);
  //   @include phablet {
  //     width: 100%;
  //     box-shadow: none;
  //     display: none;
  //   }
  // }
  // ul ul ul li:hover > ul {
  //   visibility: visible;
  //   opacity: 1;
  //   display: block;
  //   transform: translate(0, 0);
  //   @include phablet {
  //     display: block;
  //   }
  // }
  @include phablet {
    ul ul > li a {
      padding-left: 1.5rem;
    }
    ul ul ul > li a {
      padding-left: 1.8rem;
    }
    ul ul ul  ul > li a {
      padding-left: 2.1rem;
    }
    ul {
      position: relative !important;
      transform: none !important;
    }
  }
}
/**
 * Slider
 */
.slider-primary {
  background: $bg-black url('../imgs/bg-slider.png') no-repeat left 0 top 0;
  background-size: 100% 100%;
  min-height: 300px;
  .mouse-scroll {
    display: inline-block;
    position: absolute;
    bottom: 30px;
    right: -10px;
    z-index: 100;
    text-align: center;
    .icon-mouse {
      color: $bg-default;
      font-size: 1.3rem;
      position: relative;
      &::before,
      &::after {
        @include pseudo;
      }
      &::before {
        border-top: 4px solid $bg-default;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        left: calc(50% - 4px);
        bottom: -7px;
      }
      &::after {
        width: 1px;
        height: 30px;
        left: 50%;
        border-left: 1px dashed $bg-default;
      }
    }
    @media (max-width: $lg - 1px) {
      display: none;
    }
  }
}
.slider {
  @include fluid;
  &-item {
    position: relative;
    min-height: 550px;
    &:focus,
    &:active {
      outline: none !important;
    }
    @media(max-width: $lg - 1px) {
      min-height: 300px;
      padding-top: 2rem;
    }
  }
  &-content {
    .camera-name,
    .camera-title,
    .camera-desc,
    .camera-link,
    .camera-img {
      @extend %block;
      color: $bg-default;
    }
    .camera-name {
      font-size: 3.3rem;
      @include weight(8);
      line-height: 1;
    }
    .camera-title {
      font-size: 1.8rem;
      @include weight(7);
      line-height: 1.2;
    }
    .camera-desc {
      font-size: 1rem;
      display: inline-block;
      max-width: 80%;
    }
    .camera-link {
      a {
        width: 170px;
        text-align: left;
      }
    }
    .camera-img {
      text-align: right;
      img {
        max-width: 95%;
        height: auto;
      }
    }
    @include phablet {
      padding: 0 1rem;
      .camera-name {
        font-size: 2rem;
      }
      .camera-title {
        font-size: 1.1rem;
      }
      .camera-desc {
        font-size: .85rem;
      }
      .camera-link {
        margin-bottom: 2rem;
        a {
          font-size: .85rem;
          padding: .3rem 1.5rem .3rem 0;
        }
      }
    }
    @include tablet {
      .camera-name {
        font-size: 2.2rem;
      }
      .camera-title {
        font-size: 1.5rem;
      }
      .camera-desc {
        font-size: .85rem;
      }
    }
  }
  &-thumb {
    @include fluid;
    &-item {
      padding: 1.6rem 0;
      cursor: pointer;
      box-shadow: none;
      transition: all ease-in-out .25s;
      &::before {
        @include pseudo;
        left: 0;
        width: 0;
        bottom: 0;
        height: 3px;
        background-color: $bg-default;
        transition: all ease .5s;
      }
      &:focus,
      &:active {
        outline: none !important;
      }
      .number,
      .text-name {
        display: inline-block;
        color: $bg-default;
        font-size: .7rem;
        transition: all ease-in-out .25s;
      }
      &.slick-current {
        &::before {
          width: 100%;
        }
        .text-name {
          @include weight(7);
        }
      }
    }
    @include phablet {
      padding-left: 0;
      padding-right: 0;
      .slick-next,
      .slick-prev {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: transparent url('../imgs/arrow-right.png') no-repeat center center;
        color: transparent;
        background-size: 10px 16px;
        border: none;
        position: absolute;
        top: calc(50% - 15px);
        right: 1rem;
        z-index: 30;
        &:focus,
        &:active {
          outline: none !important;
        }
        &.slick-disabled {
          opacity: .3;
        }
      }
      .slick-prev {
        transform: rotate(-180deg) translateX(40px);
      }
    }
    @media(max-width: $lg - 1px) {
      .text-name {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 1rem;
      }
    }
  }
}
/**
 * Category Camera
 */
.header-category,
.gfx-series,
.x-series,
.finepix {
  @include fluid;
}
/**
 * Camera Description
 */
.camera-description {
  @extend %block;
  &-header,
  &-text {
    @include flex;
  }
  &-header {
    .title-name,
    .link-more {
      display: inline-block;
      position: relative;
    }
    .title-name {
      color: $bg-default;
      font-size: 1.4rem;
      @include weight(7);
      line-height: 1.5;
    }
    .link-more {
      margin-left: 2rem;
      a {
        padding: .4rem .5rem;
        width: 100px;
        color: $bg-default;
        font-size: .75rem;
        display: block;
        background-color: transparent;
        position: relative;
        @include weight(5);
        transition: all ease-in-out .25s;
        &:hover {
          width: 110px;
          color: $bg-stroberry;
        }
        > i {
          color: $bg-stroberry;
          position: absolute;
          right: 20px;
          top: calc(50% - 6px);
          font-size: .9rem;
        }
      }
    }
  }
  &-text {
    max-width: 90%;
    font-size: .85rem;
    color: $bg-default;
    line-height: 1.5;
    @include weight(5);
  }
  @include phablet {
    &-text {
      text-align: center;
      margin-bottom: 1.5rem;
    }
  }
  @include tablet {
    text-align: center;
    &-header {
      @include flex;
      flex-direction: column;
      .title-name,
      .link-more {
        display: block;
        @include center;
      }
      .link-more {
        width: auto;
        a {
          > i {
            right: 0;
          }
        }
      }
    }
    &-text {
      max-width: 80%;
      @include center;
      font-size: .75rem;
    }
  }
}
/**
 * Layout-category
 */
.layout-category {
  max-width: 1000px;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  @include center;
  /**
   * Tabs
   */
  .nav-tabs {
    border-bottom-color: rgba($bg-default, .3);
    position: relative;
    &.tabs-animated .floor {
      background-color: $bg-stroberry;
    }
    &.tabs-animated .floor {
      display: inline-block;
      width: 30px;
      height: 2px;
      position: absolute;
      z-index: 1200;
      bottom: -1px;
      transition: all .25s linear; 
    }
    .nav-item {
      margin-right: 2rem;
      &:last-child {
        margin-right: 0;
      }
      @include phablet {
        margin-right: 0;
        display: inline-block;
        width: 50%;
      }
    }
  }
  .nav-tabs .nav-link {
    border-color: transparent;
    font-size: .8rem;
    padding-left: 0;
    padding-right: 0;
    color: $bg-smoke;
    transition: all ease-in .15s;
    border-radius: 0;
    @include phablet {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .nav-tabs .nav-link.active {
    background-color: transparent;
    color: $bg-default;
  }
}
/**
 * Camera Priorty
 */
.priority-camera {
  @include flex;
  &-img {
    width: 300px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &-info {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    .subtitle,
    .title,
    .descript {
      @extend %block;
      color: $bg-default;
      padding-bottom: .5rem;
      @include weight(5);
    }
    .subtitle {
      font-size: .75rem;
    }
    .title {
      font-size: 1rem;
      @include weight(7);
      margin-bottom: 0;
    }
    .descript {
      font-size: .85rem;
      max-width: 200px;
    }
  }
  @include phablet {
    display: block;
    &-img {
      width: 100%;
      margin-bottom: 1.5rem;
    }
    &-info {
      flex: 0 0 100%;
      flex-grow: 0;
      width: 100%;
      text-align: center;
      .descript {
        width: 100%;
        max-width: none;
      }
    }
  }
  @include tablet {
    margin-top: 1rem;
    &-img {
      width: 50%;
      text-align: right;
    }
  }
}
/**
 * Header
 */
.header-category {
  h3, p {
    color: $bg-default;
    text-align: center;
    max-width: 380px;
    @include center;
  }
  h3 {
    @include weight(7);
    font-size: 1.4rem;
  }
  p {
    font-size: .85rem;
    line-height: 1.4;
  }
  &::before {
    width: 120px;
    height: 1px;
    @include pseudo;
    left: calc(50% - 60px);
    background-color: $bg-stroberry;
    bottom: -1px;
  }
}
/**
 * Camera Item
 */
.camera-item {
  @extend %block;
  &-title,
  &-img,
  &-desc {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
  }
  &-img {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &-title {
    font-size: 1.2rem;
    @include weight(7);
    color: $bg-default;
  }
  &-desc {
    max-width: 230px;
    @include center;
    font-size: .82rem;
    @include weight(5);
    line-height: 1.3;
    color: $bg-default;
  }
  &-link {
    width: 100%;
    height: 220px;
    @include flex;
    border: 1px dashed $bg-smoke;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out .25s;
    @media(max-width: 1080px) {
      height: 120px;
    }
    &:hover {
      background-color: rgba($bg-default, .1);
    }
    &-text {
      display: inline-block;
      max-width: 100px;
      span,
      i {
        display: block;
        text-align: center;
      }
      span {
        color: $bg-default;
        font-size: 1rem;
        @include weight(7);
      }
      i {
        color: $bg-stroberry;
        font-size: 1.2rem;
      }
    }
  }
}
/**
 * Gfx Series
 */
.gfx-series {
  background: #141414 url('../imgs/bg-x-series.png') no-repeat;
  background-position: right 0 top 0 bottom 0;
  background-size: 100%;
  @media(max-width: 1080px) {
    background-size: 100% 100%;
  }
}
/**
 * X Series
 */
.x-series {
  background-color: #2d2d2d;
}
/**
 * Fine X
 */
.finepix {
  background-color: #414141;
  z-index: 500;
  &::before {
    @include pseudo;
    width: 90%;
    left: 0;
    bottom: 0;
    transform: translateX(5%);
    height: 20px;
    box-shadow: 0 15px 25px -5px rgba($bg-black, .4);
    z-index: -1;
    background-color: transparent;
  }
}
/**
 * Camera Property
 */
.property {
  background-image: linear-gradient(to bottom, #e2e2e2, #d4d4d4);
  &::before {
    @include pseudo;
    height: 100%;
  }
  &::before {
    width: 100%;
    transform: translateY(-100%);
    left: 0;
    top: 1px;
    background-color: #e2e2e2;
  }
  .border-right {
    border-right-color: #c0c0c0 !important;
  }
  &-item,
  &-img,
  &-desc,
  &-title,
  &-link {
    @extend %block;
    margin-bottom: .6rem;
  }
  &-item {
    max-width: 80%;
    @include center;
  }
  &-img {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &-title {
    font-size: 1.1rem;
    @include weight(8);
    color: $bg-black;
  }
  &-desc {
    font-size: .8rem;
    color: $bg-note;
  }
  &-link {
    a {
      display: inline-block;
      padding: .4rem 2rem .4rem 0;
      color: $bg-text;
      font-size: .72rem;
      @include weight(6);
      border-bottom: 1px solid $bg-stroberry;
      position: relative;
      transition: all ease-in-out .25s;
      >i {
        position: absolute;
        right: 0;
        top: calc(50% - 8px);
        font-size: 1rem;
        color: $bg-stroberry;
      }
      &:hover {
        color: $bg-stroberry;
        padding-right: 2.8rem;
      }
    }
  }
}
/**
 * Inspiration
 */
.inspiration {
  padding-bottom: 7rem;
  background-color: $bg-default;
  .row {
    margin-left: -8px;
    margin-right: -8px;
    [class*="col-"],
    [class="col"] {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  &-header {
    @extend %block;
    h3, p {
      color: $bg-dark;
      text-align: center;
      @include center;
    }
    h3 {
      @include weight(8);
      font-size: 1.1rem;
    }
    p {
      font-size: .8rem;
      line-height: 1.4;
      color: $bg-text;
      @include weight(5);
    }
    a {
      display: inline-block;
      padding: .4rem 2rem .4rem 0;
      color: $bg-text;
      font-size: .72rem;
      @include weight(6);
      border-bottom: 1px solid $bg-stroberry;
      position: relative;
      transition: all ease-in-out .25s;
      >i {
        position: absolute;
        right: 0;
        top: calc(50% - 8px);
        font-size: 1rem;
        color: $bg-stroberry;
      }
      &:hover {
        color: $bg-stroberry;
        padding-right: 2.8rem;
      }
    }
  }
  /**
   * Inspiration Item
   */
  &-mask {
    @include flex;
    padding: 1.5rem;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(to top, rgba($bg-black, .9), rgba($bg-black, .3));
    z-index: 50;
    .tags,
    .contents {
      display: block;
    }
    .tags {
      position: relative;
      margin-top: 0;
      margin-bottom: auto;
      z-index: 500;
      a {
        display: inline-block;
        padding: .4rem 1rem;
        font-size: .8rem;
        color: $bg-default;
        background-color: $bg-stroberry;
        &:hover {
          background-color: darken($bg-stroberry, 5%);
        }
      }
    }
    .contents {
      margin-bottom: 0;
      margin-top: auto;
      .title,
      .desc,
      .date {
        display: block;
        @include weight(5);
      }
      .title {
        font-size: 1.2rem;
        @include weight(7);
        color: $bg-default;
        &:hover {
          color: $bg-stroberry;
        }
      }
      .desc,
      .date {
        color: #eaeaea;
      }
      .desc {
        font-size: .9rem;
      }
      .date {
        font-size: .75rem;
        > strong {
          color: $bg-default;
        }
      }
    }
  }
  &-item {
    @extend %block;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: all ease-in-out .25s;
    }
    &:hover {
      img {
        transform: scale(1.03);
      }
    }
    &._bigger {
      height: 350px;
      @media(max-width: $lg - 1px) {
        margin-bottom: 1rem;
      }
    }
    &._smaller {
      height: 167px;
      margin-bottom: 1rem;
      .title {
        font-size: .93rem;
        line-height: 1.2;
      }
    }
  }
}
/**
 * Footer
 */
.footer {
  background-color: $bg-black;
  .newsletter,
  .menu-footer {
    position: relative;
    z-index: 10;
  }
  /**
   * Menu Footer
   */
  .menu-footer {
    .logo-footer {
      width: 190px;
      img {
        max-width: 100%;
        height: auto;
        margin-bottom: 1rem;
      }
      span {
        display: block;
        line-height: 1.3;
        color: $bg-default;
        font-size: .75rem;
      }
      @include phablet {
        width: 100%;
        margin-bottom: 2rem;
        @include center;
        text-align: center;
      }
      @include tablet {
        width: 220px;
        @include center;
        margin-bottom: 2rem;
        text-align: center;
      }
    }
    .menu-footer-holder {
      display: block;
      ul {
        display: block;
        list-style: none;
        @include phablet {
          text-align: center;
        }
        li {
          display: block;
          padding-bottom: .3rem;
        }
        a {
          display: block;
          color: $bg-default;
          &:first-child {
            padding-left: 0;
          }
          &:hover {
            color: $bg-darkTomato;
          }
        }
        
      }
      .menu-primary-link {
        font-size: .8rem;
        @include weight(5);
        color: $bg-default;
      }
      .title-footer {
        font-size: .95rem;
        @include weight(7);
        color: $bg-default;
        position: relative;
        padding-bottom: 1rem;
        &::before { 
          @include pseudo;
          bottom: 0;
          left: 0;
          height: 1px;
          width: 10px;
          background-color: $bg-stroberry;
        }
        @include phablet {
          text-align: center;
          &::before {
            left: calc(50% - 5px);
          }
        }
      }
      .menu-social-link {
        width: 27px;
        height: 27px;
        text-align: center;
        line-height: 30px;
        color: $bg-black;
        background-color: $bg-default;
        border-radius: 50%;
        transition: all ease-in-out .25s;
        margin-right: .4rem;
        &:hover {
          color: $bg-dark;
          background-color: $bg-stroberry;
        }
      }
      @media(max-width: $lg - 1px) {
        &.social-media {
          text-align: center;
          @include center;
          .title-footer {
            &::before {
              left: calc(50% - 5px);
            }
          }
        }
      }
    }
    .dropup {
      .dropdown-item {
        font-size: .7rem;
      }
      .dropdown-toggle {
        &::after {
          margin-left: 1rem;
        }
        &::before {
          position: relative;
          display: inline-block;
          width: 1px;
          height: 7px;
          background-color: $bg-default;
          content: "";
          left: 65%;
        }
      }
    }
  }
  /**
   * Newsletter
   */
  .newsletter {
    max-width: 800px;
    background-color: $bg-stroberry;
    transform: translateY(-40%);
    border: {
      top: 6px solid transparent;
      bottom: 6px solid transparent;
    }
    border-image: 6 repeating-linear-gradient(-40deg, $bg-default 0, $bg-default 1em, transparent 0, transparent 2em,
    $bg-default 0, $bg-default 1em, transparent 0, transparent 1em);
    @include phablet {
      transform: translateY(-10%);
    }
    &-title,
    &-desc,
    &-form {
      @extend %block;
      padding: 0 1rem 1rem;
      @include tablet {
        @include center;
        max-width: 400px;
      }
    }
    &-title {
      color: $bg-default;
      font-size: 1rem;
      @include weight(7);
      padding-bottom: 0;
    }
    &-desc {
      font-size: .8rem;
      color: $bg-default;
      padding-bottom: 0;
      @include weight(5);
    }
    &-form {
      .col-form-label {
        color: $bg-default;
        @include weight(6);
        padding-bottom: 0;
        padding-top: 0;
      }
      .form-holder {
        @include flex;
        background-color: transparent;
        border-bottom: 1px solid $bg-default;
        .form-control {
          flex-basis: 0;
          flex-grow: 1;
          max-width: 100%;
          border-color: transparent;
          padding-left: 0;
          background-color: transparent;
          border-radius: 0;
          box-shadow: none;
          color: $bg-darkTomato;
          @include placeholder {
            font-size: .85rem;
            color: $bg-darkTomato;
            @include weight(5);
          }
        }
        .btn-send {
          background-color: transparent;
          color: $bg-default;
          align-self: center;
          font-size: 1.3rem;
          padding-top: 2px;
          padding-bottom: 0;  
          padding-left: 20px;      
          padding-right: 0; 
          position: relative;
          box-shadow: none;
          &:hover {
            color: $bg-dark;
          }
        }
      }
    }
    @media(max-width: $lg - 1px) {
      &-desc {
        margin-bottom: 1rem;
      }
    }
  }
}
/**
 * Menubar Responsive 
 */ 
.toggle-mobile,
.toggle-search {
  display: none;
  &:focus,
  &:active {
    outline: none;
  }
}
@include phablet {
  .toggle-mobile,
  .toggle-search {
    display: inline-block;
    border: none;
    background-color: transparent;
  }
  .toggle-mobile {
    width: 40px;
    span,
    &::before,
    &::after {
      width: 100%;
      height: 2px;
      position: relative;
      background-color: $bg-default;
      margin-bottom: 7px;
      display: block;
      transition: all ease-in-out .25s;
    }
    &::before,
    &::after {
      content: "";
    }
    span {
      background-color: $bg-stroberry;
    }
    &::after {
      margin-bottom: 0;
    }
    &.active {
      span {
        transform: rotate(45deg);
      }
      &::before {
        opacity: 0;
        visibility: hidden;
      }
      &::after {
        background-color: $bg-stroberry;
        width: 28px;
        transform: rotate(-45deg) translate(6px, -7px);
      }
    }
  }
  .toggle-search {
    font-size: 1.1rem;
    color: $bg-default;
    margin-right: 1rem;
    &.active {
      color: $bg-stroberry;
    }
  }
}