@import '_config';
body {
  font-family: $font;
}
a {
  &:hover,
  &:active,
  &:focus {
    outline: none;
    text-decoration: none;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
}
/**
 *  Utilities
 */
%block {
  display: block;
  position: relative;
}
.btn-more {
  border-radius: 24242rem;
  border: 2px solid transparent;
  font-size: .8rem;
  position: relative;
  box-shadow: none;
  padding-right: 2.5rem;
  transition: all ease-in .25s;
  &::before {
    position: absolute;
    top: calc(50% - 1px);
    right: 10px;
    line-height: 0;
    font-size: 1rem;
    content: "\eb1c";
    font-family: $icon;
  }
  &:hover > &::before {
    right: 10px;
  }
  &:hover {
    padding-right: 3rem;
    color: $bg-default;
  }
  &-orange {
    color: $bg-default;
    background-color: $bg-orange;
    &::before {
      color: $bg-default;
    }
    &:hover {
      background-color: darken($bg-orange, 3%);
    }
  }
  &-outline {
    background-color: $bg-default;
    &-purple {
      border-color: $bg-purple;
      &::before {
        color: $bg-purple;
      }
      &:hover {
        background-color: $bg-purple;
        color: $bg-default;
        &::before {
          color: $bg-default !important;
        }
      }
    }
    &-orange {
      border-color: $bg-orange;
      &::before {
        color: $bg-orange;
      }
      &:hover {
        background-color: $bg-orange;
        color: $bg-default;
        &::before {
          color: $bg-default !important;
        }
      }
    }
    &-tomato {
      border-color: $bg-tomato;
      &::before {
        color: $bg-tomato;
      }
      &:hover {
        background-color: $bg-tomato;
        color: $bg-default;
        &::before {
          color: $bg-default !important;
        }
      }
    }
  }
}
/**
 * Parents
 */
.top-header,
.menu-primary,
.slider-primary,
.bar-info,
.article-container,
.wrapper,
.statistic,
.partner,
.footer {
  @include fluid;
}
/**
 * Top Header
 */
.top-header {
  background-color: $bg-tomato;
  .languages,
  .logo {
    @extend %block;
  }
  .logo {
    &-box {
      width: 120px;
      padding: 1.3rem 0;
      text-align: center;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1050;
      background-color: $bg-default;
      border-bottom-left-radius: .2rem;
      border-bottom-right-radius: .2rem;
      @include phablet {
        position: relative;
        width: 100%;
        border-radius: 0;
        text-align: left;
        padding-left: 1.3rem;
        padding-right: 1.3rem;
      }
      @include tablet {
        position: relative;
        width: 100%;
        border-radius: 0;
        padding-left: 1.3rem;
        padding-right: 1.3rem;
      }
      img {
        max-width: 90%;
        height: auto;
        @include phablet {
          max-width: 60px;
        }
      }
    }
  }
  .languages {
    text-align: right;
    .site-name,
    .engs {
      display: inline-block;
      position: relative;
      padding: 5px 1rem;
      cursor: pointer;
      span {
        color: $bg-default;
        font-size: .75rem;
      }
    }
    .engs {
      background-color: $bg-darkTomato;
    }
    .drop-eng {
      width: 160px;
      position: absolute;
      top: 130%;
      left: calc(50% - 80px);
      padding: 6px .8rem;
      background-color: $bg-default;
      box-shadow: 0 6px 12px -1px rgba($bg-black, .3);
      border-radius: .2rem;
      z-index: 2000;
      visibility: hidden;
      opacity: 0;
      transition: all cubic-bezier(0.19, 1, 0.22, 1) .25s;
      @include phablet {
        left: auto;
        right: 0;
      }
      @include tablet {
        left: auto;
        right: 0;
      }
      &::before {
        @include pseudo;
        border-bottom: 5px solid $bg-default;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        left: calc(50% - 3px);
        top: -5px;
        @include phablet {
          left: auto;
          right: 10px;
        }
        @include tablet {
          left: auto;
          right: 10px;
        }
      }
      &-link {
        padding: 6px 1rem;
        display: block;
        color: $bg-note;
        font-size: .7rem;
        text-align: center;
        @include weight(5);
        border-radius: .25rem;
        &:hover {
          color: $bg-text;
        }
        &.active {
          color: $bg-text;
          background-color: $bg-smoke;
        }
      }
      &.show {
        opacity: 1;
        visibility: visible;
        top: 120%;
      }
    }
  }
  @include phablet {
    [class*="col-"] {
      padding-left: 0;
      padding-right: 0;
    }
    .container {
      padding-left: 0;
      padding-right: 0;
      > .row {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  @include tablet {
    [class*="col-"] {
      padding-left: 0;
      padding-right: 0;
    }
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
/**
 * Menu Primary
 */
.menu-primary {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  @include phablet {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($bg-black, .3);
    z-index: 1500;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out .3s;
    &.show {
      opacity: 1;
      visibility: visible;
    }
  }
  @include tablet {
    position: relative;
  }
}
/**
 * Button Search
 */
.btn-search {
  border-radius: 2234234rem;
  background-color: $bg-tomato;
  color: $bg-default;
  padding: 0;
  width: 33px;
  height: 33px;
  line-height: 35px;
  text-align: center;
  font-size: .9rem;
  @include phablet {
    display: none;
  }
}
/**
 * Menu
 */
.menu {
  width: auto;
  padding-top: 1rem;
  @include phablet {
    width: 75%;
    height: 100vh;
    transform: translateX(-15px);
    background-color: $bg-default;
    overflow-x: hidden;
    overflow-y: auto;
  }
  @include tablet {
    padding-top: 0;
  }
  ul {
    padding: 0;
  }
  > ul {
    @extend %block;
    > li > a{
      text-transform: uppercase;
      letter-spacing: .03rem;
    }
  }
  /**
   * Item
   */
  &-item {
    text-align: left;
    display: inline-block;
    transition: all ease-in-out .25s;
    position: relative;    
    @include phablet {
      display: block;
      border-bottom: 1px solid $bg-smoke;
    }
    &:last-child {
      border-bottom-left-radius: .25rem;
      border-bottom-right-radius: .25rem;
    }
    &:hover {
      a {
        color: $bg-tomato;
      }
    }
    &.active {
      background-color: rgba($bg-default, .3);
    }
    &.has-child {
      &::before {
        position: absolute;
        font-family: $icon;
        content: "\e9e2";
        color: $bg-default;
        right: 0;
        font-size: 1.1rem;
        top: calc(50% - 2px);
        line-height: 0;
        @include phablet {
          color: $bg-text;
          right: 15px;
        }
        @include tablet {
          color: $bg-text;
        }
      }
      > a {
        padding-right: 2rem;
      }
    }
    /**
     * Position options 
     */
    &.push-left {
      ul {
        right: 100%;
        left: auto;
        @include phablet {
          left: 0;
          right: auto;
        }
      }      
    }
    &.push-right {
      ul {
        left: 100%;
        right: auto;
        @include phablet {
          left: 0;
          right: auto;
        }
      }
    }
  }
  /**
   * Link 
   */
  &-link {
    display: block;
    padding: 1rem 1.3rem;
    color: $bg-default;
    font-size: .82rem;
    position: relative;
    @include weight(5);
    &:hover {
      text-decoration: none;
      color: $bg-default;
    }
    @include phablet {
      color: $bg-text;
      font-size: .75rem;
    }
    @include tablet {
      color: $bg-text;
      font-size: .75rem;
    }
  }
  /**
   * Dropdown
   */
  ul ul {
    border-radius: .25rem;
    @include phablet {
      display: none;
    }
  }
  ul li > ul {
    position: absolute;
    z-index: 300;
    top: 100%;
    width: 220px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transform: translate(0, 10px);
    transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1);
    box-shadow: 0 3px 5px rgba($bg-black, .04);
    background-color: $bg-default;
    @include phablet {
      width: 100%;
      box-shadow: none;
    }
    li {
      &:first-child {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
      }
      &:last-child {
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
      }
      a {
        padding-top: 10px;
        padding-bottom: 10px;
        color: $bg-text !important;
        transition: all .25s ease-in linear 0s;
        &::before {
          position: absolute;
          top: calc(50% - 1px);
          line-height: 0;
          content: "\eb1c";
          font-family: $icon;
          visibility: hidden;
          opacity: 0;
          right: 25px;
          font-size: 1rem;
          transition: all .25s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
      }
      &:hover {
        background-color: #f5f5f5;
        a {
          color: $bg-tomato !important;
          @include weight(7);
          &::before {
            right: 15px;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
  ul li:hover > ul {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
  }
  @include phablet {
    ul li:hover > ul {
      display: block;
    }
  }
  ul ul li {
    display: block;
    border-bottom: 1px solid $bg-smoke;
    &.has-child {
      &::before {
        display: none;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
  /**
   * Lev 2
   */
  ul ul li > ul {
    position: absolute;
    z-index: 300;
    top: 0;
    width: 230px;
    visibility: hidden;
    opacity: 0;
    transform: translate(10px, 0);
    transition: all ease-in-out .25s;
    box-shadow: 0 5px 10px rgba($bg-black, .04);
    @include phablet {
      width: 100%;
      box-shadow: none;
    }
  }
  ul ul li:hover > ul {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
  }
  /**
   * Lev 3
   */
  ul ul ul li > ul {
    position: absolute;
    z-index: 300;
    top: 0;
    width: 230px;
    visibility: hidden;
    opacity: 0;
    background-color: $bg-dark;
    transform: translate(10px, 0);
    transition: all ease-in-out .25s;
    box-shadow: 0 5px 10px rgba($bg-black, .04);
    @include phablet {
      width: 100%;
      box-shadow: none;
      display: none;
    }
  }
  ul ul ul li:hover > ul {
    visibility: visible;
    opacity: 1;
    display: block;
    transform: translate(0, 0);
    @include phablet {
      display: block;
    }
  }
  @include phablet {
    ul ul > li a {
      padding-left: 1.5rem;
    }
    ul ul ul > li a {
      padding-left: 1.8rem;
    }
    ul ul ul  ul > li a {
      padding-left: 2.1rem;
    }
    ul {
      position: relative !important;
      transform: initial !important;
    }
  }
}
/**
 * Slider
 */
.slider {
  position: relative;
  max-height: 580px;
  &::before {
    height: 150px;
    width: 100%;
    @include pseudo;
    background: transparent url('../imgs/shadow.png') no-repeat;
    background-size: 100%;
    background-position: 0 0;
    z-index: 100;
    bottom: 0px;
    left: 0;
    @include phablet {
      bottom: -80px;
    }
    @include tablet {
      bottom: -40px;
    }
  }
  &-item {
    @extend %block;
    max-height: 580px;
    overflow: hidden;
    &::before,
    &::after {
      height: 200px;
      width: 100%;
      @include pseudo;
      left: 0;
      z-index: 20; 
    }
    &::before {
      top: 0;
      background-image: linear-gradient(to top, transparent, rgba($bg-black, .5));
    }
    &::after {
      bottom: 0;
      background-image: linear-gradient(to bottom, transparent, rgba($bg-black, .5));
    }
    img {
      //transform: translateY(-100px);
    }
  }
  &-caption {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba($bg-black, .5);
    @include phablet {
      z-index: 1000;
    }
    @include tablet {
      z-index: 1000;
    }
    .title-slider,
    .date-loc,
    .link-more {
      @extend %block;
    }
    .title-slider {
      font-size: 3.2rem;
      @include weight(8);
      color: $bg-default;
      @include phablet {
        font-size: 2rem;
      }
      @include tablet {
        font-size: 2.6rem;
      }
    }
    .date-loc {
      font-size: 1rem;
      @include weight(5);
      color: #fafafa;
      margin-bottom: 1.2rem;
    }
  }
  /**
   * Controls
   */
  .owl-nav {
    position: absolute;
    width: 100%;
    max-width: 1140px;
    top: calc(70% - 10px);
    left: calc(50% - 570px);
    padding-left: 16px;
    padding-right: 16px;
    z-index: 400;
    text-align: right;
    @include phablet {
      display: none;
    }
    @include tablet {
      display: none;
    }
    button {
      &.owl-prev,
      &.owl-next {
        width: 35px;
        height: 35px;
        display: inline-block;
        line-height: 38px;
        text-align: center;
        color: $bg-dark;
        font-size: 1.2rem;
        border-radius: 50%;
        background-color: $bg-smoke;
        transition: all ease-in-out .25s;
        &:hover {
          background-color: $bg-orange;
          color: $bg-default;
        }
        &:focus,
        &:active {
          outline: none;
        }
      }
      &.owl-prev {
        margin-right: .5rem;
      }
    }
  }
  .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 120px;
    z-index: 1000;
    text-align: center;
    button.owl-dot {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: inline-block;
      border: 1px solid transparent;
      margin: 0 2px;
      line-height: 0;
      text-align: center;
      transition: all ease-in-out .25s;
      &:focus,
      &:active {
        outline: none;
      }
      span {
        width: 6px;
        height: 6px;
        display: inline-block;
        background-color: $bg-default;
        border-radius: 10px;
      }
      &.active {
        border-color: $bg-default;
      }
    }
  }
}
/**
 * Bar Info
 */
.bar-info {
  margin-top: -80px;
  z-index: 1050;
  @include phablet {
    margin-top: 0;
  }
  .row {
    margin-right: -8px;
    margin-left: -8px;
    > div[class*="col-"],
    > div[class="col"] {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}
/**
 * Bar Items
 */
.shadow-bar {
  position: relative;
  &::after {
    @include pseudo;
    width: 80%;
    bottom: 10px;
    height: 10px;
    left: calc(50% - 40%);
    z-index: -1;
    box-shadow: 0 20px 25px -1px rgba($bg-black, .5);
    @include phablet {
      bottom: 20px;
    }
  }
}
.info-bar {
  @include flex;
  position: relative;
  padding: 2.6rem 1.6rem;
  border-radius: .25rem;
  background-image: linear-gradient(to top, #ea1414, #fe0000);
  overflow: hidden;
  @include phablet {
    margin-bottom: 1rem;
  }
  @include tablet {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  &::before {
    position: absolute;
    content: attr(data-text);
    left: -20px;
    bottom: -38px;
    font-size: 10rem;
    color: #e70c0c;
    line-height: 1;
    z-index: 5;
    @include weight(9);
  }
  &-desc {
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    z-index: 20;
    h4 {
      font-size: 1.8rem;
      @include weight(7);
      color: $bg-default;
      margin-bottom: 0;
      @include tablet {
        font-size: 1.5rem;
      }
    }
    span {
      color: $bg-default;
      font-size: .9rem;
      color: $bg-smoke;
      @include tablet {
        display: block;
        line-height: 1.3;
        font-size: .7rem;
      }
    }
  }
  &-btn {
    width: 60px;
    align-self: flex-end;
    position: relative;
    text-align: right;
    z-index: 20;
    a {
      display: inline-block;
      width: 35px;
      height: 35px;
      line-height: 38px;
      text-align: center;
      border-radius: 50%;
      box-shadow: 0 0 0 2px $bg-darkTomato;
      color: $bg-default;
      font-size: 1.1rem;
      transition: all ease .2s;
      &:hover {
        text-decoration: none;
        color: $bg-tomato;
        background-color: $bg-default;
        box-shadow: 0 0 0 10px rgba($bg-default, .2);
        // animation: gebray .2s forwards linear 0s;
      }
      @keyframes gebray {
        from {
          box-shadow: 0 0 0 5px rgba($bg-default, .1);
        } to {
          box-shadow: 0 0 0 10px rgba($bg-default, .2);
        }
      }
    }
  }
}
/**
 * Me, We and World
 */
.brush {
  width: 100%;
  position: absolute;
  background-size: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  left: 0;
  z-index: 2;
  @include phablet {
    display: none;
  }
  &._top {
    height: 182px;
    background-image: url('../imgs/brush-top.png');
    top: -125px;
    @include tablet {
      top: -50px;
    }
    @media screen and(max-width: 1080px) and(min-width: 992px) {
      top: -95px;
    }
  }
  &._bottom {
    height: 100px;
    background-image: url('../imgs/brush-bottom.png');
    bottom: -80px;
  }
  &._stat {
    height: 200px;
    background-image: url('../imgs/brush-stat.png');
    top: -120px;
    bottom: auto;
    z-index: 100;
    @include tablet {
      top: -50px;
    }
    @media screen and(max-width: 1080px) and(min-width: 992px) {
      top: -100px;
    }
  }
}
.z-index-article {
  z-index: 500;
}
.article-container {
  background-color: $bg-default;
  .sidebar {
    width: 250px;
    left: 1rem;
    @include phablet {
      width: 100%;
      position: relative !important;
      text-align: center;
    }
    @include tablet {
      width: 100%;
      position: relative !important;
      text-align: center;
    }
    @media (max-width: 1080px) {
      overflow: hidden;
    }
    h3 {
      font-size: 2.1rem;
      @include weight(9);
    }
    p {
      max-width: 150px;
      color: $bg-note;
      font-size: .9rem;
      @include weight(5);
      @include phablet {
       max-width: 200px;
       @include center;
       margin-bottom: .3rem;
       font-size: .75rem;
      }
      @include tablet {
        max-width: 200px;
       margin-bottom: .3rem;
       font-size: .75rem;
       @include center;
      }
    }
    a {
      display: inline-block;
      padding: 5px 1.5rem 5px 0;
      color: $bg-note;
      @include weight(6);
      font-size: .75rem;
      position: relative;
      transition: all ease-in-out .25s;
      @include phablet {
        margin-bottom: .3rem;
       }
       @include tablet {
        margin-bottom: .3rem;
       }
      &::before {
        @include pseudo;
        bottom: 0;
        width: 0;
        left: 0;
        height: 1px;
        opacity: 0;
        transition: all cubic-bezier(0.165, 0.84, 0.44, 1) .25s;
      }
      i {
        position: absolute;
        top: calc(50% - 8px);
        right: 0;
        font-size: .9rem;
        transition: all ease-in-out .25s;
      }
      &:hover {
        padding-right: 2rem;
        &::before {
          width: 100%;
          opacity: 1;
          background-color: transparent;
        }
        i {
          right: -5px;
        }
      }
    }
  }
  .sidebar + .article-holder {
    margin-left: 250px;
    padding: 0;
    position: relative;
    @include phablet {
      width: 100%;
      position: relative !important;
      margin-left: 0;
    }
    @include tablet {
      width: 100%;
      position: relative !important;
      margin-left: 0;
    }
    // @media (max-width: 1080px) {
    //   overflow: hidden;
    // }
    &::before {
      content: attr(data-bgtext);
      display: inline-block;
      width: 80%;
      position: absolute;
      bottom: 30px;
      left: -30px;
      font-size: 30rem;
      z-index: -1;
      @include weight(8);
      line-height: 0;
      @include tablet {
        display: none;
      }
      @media screen and(max-width: 1080px) and(min-width: 992px) {
        font-size: 23rem;
      }
    }
  }
  /**
   * Me
   */
  &._me {
    .sidebar {
      h3 {
        color: $bg-tomato;
      }
      a {
        i {
          color: $bg-tomato;
        }
        &:hover {
          &::before {
            background-color: $bg-tomato;
          }
          color: $bg-dark;
        }
      }
    }
    .sidebar + .article-holder {
      // background-image: url('../imgs/me-text.png');
      &::before {
        color: $bg-smoke;
        @include phablet {
          display: none;
        }
      }
    }
  }
  /**
   * We
   */
  &._we {
    background-color: $bg-smoke;
    .sidebar {
      h3 {
        color: $bg-orange;
      }
      a {
        i {
          color: $bg-orange;
        }
        &:hover {
          &::before {
            background-color: $bg-orange;
          }
          color: $bg-dark;
        }
      }
    }
    .sidebar + .article-holder {
      // background-image: url('../imgs/we-text.png');
      &::before {
        color: $bg-default;
        @include phablet {
          display: none;
        }
      }
    }
  }
  /**
   * World
   */
  &._world {
    .sidebar {
      h3 {
        color: $bg-purple;
      }
      a {
        padding-bottom: .4rem;
        i {
          color: $bg-purple;
        }
        &:hover {
          color: $bg-dark;
          &::before {
            background-color: $bg-purple;
          }
        }
      }
    }
    .sidebar + .article-holder {
      // background-image: url('../imgs/world-text.png');
      &::before {
        color: #f1f1f1;
        @include phablet {
          display: none;
        }
      }
    }
  }
}
/**
 * Article
 */
.article {
  @extend %block;
  margin-bottom: 2rem;
  &-img,
  &-title,
  &-desc {
    @extend %block;
    margin-bottom: 1rem;
  }
  &-link {
    display: block;
  }
  &-img {
    img {
      width: 100%;
      height: 182px;
      border-radius: .25rem;
      object-fit: cover;
      object-position: center center;
    }
  }
  &-title {
    font-size: 1rem;
    @include weight(7);
    color: $bg-text;
  }
  &-desc {
    font-size: .8rem;
    color: $bg-note;
  }
}
/**
 * Title Section
 */
.title-section {
  @include fluid;
  h3 {
    color: $bg-text;
    font-size: 1.3rem;
    @include weight(9);
  }
}
/**
 * Statistik
 */
.statistic {
  background-color: #f1f1f1;
}
/**
 * Idea
 */
.idea {
  @extend %block;
  border-radius: .25rem;
  background-color: $bg-default;
  margin-bottom: 1rem;
  &::before {
    width: 80%;
    height: 10px;
    box-shadow: 0 20px 25px -1px rgba($bg-black, .3);
    @include pseudo;
    left: 10%;
    bottom: 0px;
    z-index: 1;
  }
  > div:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
  > div:last-child {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }
  &-title,
  &-stat,
  &-progress {
    padding: 0 1.5rem;
    @include phablet {
      padding: 0 1rem;
    }
    @include tablet {
      padding: 0 1rem;
    }
  }
  &-img,
  &-title,
  &-stat,
  &-progress {
    @extend %block;
    padding-bottom: 1.8rem;
    @include phablet {
      padding-bottom: 1rem;
    }
    @include tablet {
      padding-bottom: 1rem;
    }
  }
  &-img {
    overflow: hidden;
    height: 240px;
    @include phablet {
      height: 160px;
    }
    @include tablet {
      height: 160px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  &-title {
    font-size: 1.15rem;
    @include weight(8);
    color: $bg-text;
    line-height: 1.4;
    @include tablet {
      font-size: .8rem;
    }
    &:hover {
      color: $bg-dark;
    }
  }
  &-stat {
    @include flex;
    flex-wrap: wrap;
    .number {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      text-align: center;
    }
    .supporter,
    .days-left {
      display: block;
      position: relative;
    }
    .supporter {
      h4 {
        color: $bg-tomato;
        font-size: 1.6rem;
        @include weight(8);
        letter-spacing: 2px;
        > span {
          color: $bg-note;
          font-size: .65rem;
          @include weight(3);
          letter-spacing: normal;
        }
      }
      span {
        color: $bg-text;
        font-size: .75rem;
      }
    }
    .days-left {
      h4 {
        color: $bg-purple;
        font-size: 1.6rem;
        @include weight(8);
        letter-spacing: 2px;
        > span {
          color: $bg-note;
          font-size: .65rem;
          @include weight(3);
          letter-spacing: normal;
        }
      }
      span {
        color: $bg-text;
        font-size: .75rem;
      }
    }
  }
  &-progress {
    z-index: 20;
    background-color: $bg-default;
    .placeholder,
    .step {
      border-radius: 242342rem;
      height: 12px;
      @include phablet {
        height: 8px;
      }
      @include tablet {
        height: 8px;
      }
    }
    .placeholder {
      width: 100%;
      background-color: $bg-smoke;
      overflow: hidden;
    }
    .step {
      float: left;
      background-image: linear-gradient(to right, $bg-orange, $bg-tomato);
      box-shadow: 0 0 100px rgba($bg-black, 1);
    }
  }
}
/**
 * Our Partner
 */
.partner {
  background-color: #f1f1f1;
  .col-logo {
    flex: 0 0 20%;
    width: 20%;
    @include flex;
    justify-content: center;
    align-items: center;
    .img-fluid {
      max-width: 70%;
    }
    @include tablet {
      flex-basis: auto;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
/**
 * Footer
 */
.footer {
  &::before,
  &::after {
    @include pseudo;
    width: 50%;
    height: 100%;
    top: 0;
    display: block;
    @include phablet {
      width: 100%;
    }
    @include tablet {
      width: 100%;
    }
  }
  &::before {
    background-color: $bg-tomato;
    left: 0;
  }
  &::after {
    background-color: $bg-darkTomato;
    right: 0;
  }
  @include tablet {
    > .container {
      padding: 0;
      width: 100%;
      max-width: none;
    }
    .row {
      margin: 0;
    }
    div[class*="col-"] {
      padding: 0;
    }
  }
  .newsletter,
  .menu-footer {
    position: relative;
    z-index: 10;
  }
  /**
   * Menu Footer
   */
  .menu-footer {
    background-color: $bg-tomato;
    .logo-footer {
      width: 160px;
      img {
        max-width: 100%;
        height: auto;
      }
      span {
        max-width: 160px;
        display: block;
        line-height: 1.3;
        color: #ddd;
        font-size: .75rem;
        text-align: center;
        @include phablet {
          max-width: none;
        }
        @include tablet {
          max-width: none;
          width: 80%;
          @include center;
        }
      }
      @include phablet {
        width: 100%;
        margin-bottom: 1rem;
      }
      @include tablet {
        width: 220px;
      }
    }
    .menu-footer-holder {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      ul {
        display: block;
        list-style: none;
        @include phablet {
          text-align: center;
        }
        li {
          display: inline-block;
        }
        a {
          display: block;
          color: $bg-default;
          &:first-child {
            padding-left: 0;
          }
          &:hover {
            color: $bg-darkTomato;
          }
        }
      }
      .menu-primary-link {
        padding: 0 1rem;
        font-size: .85rem;
        @include weight(6);
      }
      .menu-privacy-link {
        padding: 0 1rem;
        font-size: .75rem;
      }
      .follow-us {
        font-size: .9rem;
        @include weight(7);
        color: $bg-default;
        @include phablet {
          text-align: center;
        }
      }
      .menu-social-link {
        width: 27px;
        height: 27px;
        text-align: center;
        line-height: 30px;
        color: $bg-tomato;
        background-color: $bg-default;
        border-radius: 50%;
        transition: all ease-in-out .25s;
        margin-right: .4rem;
        &:hover {
          color: $bg-dark;
        }
      }
    }
  }
  /**
   * Newsletter
   */
  .newsletter {
    background-color: $bg-darkTomato;
    &-title,
    &-desc,
    &-form {
      @extend %block;
      padding: 0 1rem 1rem;
      @include tablet {
        @include center;
        max-width: 400px;
      }
    }
    &-title {
      text-align: center;
      h4 {
        color: $bg-default;
        font-size: .85rem;
        @include weight(7);
        margin-bottom: 0;
      }
    }
    &-desc {
      text-align: center;
      font-size: .8rem;
      color: $bg-default;
    }
    &-form {
      .form-holder {
        @include flex;
        padding: 1px .4rem 1px 1rem;
        border-radius: 242342rem;
        background-color: $bg-default;
        .form-control {
          flex-basis: 0;
          flex-grow: 1;
          max-width: 100%;
          border-color: transparent;
          box-shadow: none;
          @include placeholder {
            font-size: .85rem;
            color: #aaa;
          }
        }
        .btn-send {
          background-color: transparent;
          color: $bg-tomato;
          align-self: center;
          //transform: rotate(-45deg);
          font-size: 1.3rem;
          padding-top: 2px;
          padding-bottom: 0;  
          padding-left: 20px;      
          padding-right: 10px; 
          position: relative;
          box-shadow: none;
          &:hover {
            color: $bg-dark;
          }
          &::before {
            @include pseudo;
            height: 45%;
            width: 1px;
            left: 0;
            top: 0;
            background-color: #bbb;
            transform:  translateY(9px);
          } 
        }
      }
    }
  }
}